<div id="main">
  <h2>Chat room</h2>
  <div>
    <div id="messages">
      <p class="received">Hello</p>
      <p class="sent">Hi</p>
      <p class="received">How are you doing?</p>
      <p class="sent">I am doing alright</p>
    </div>
    <div id="send_message">
      <input type="text" id="message" name="message">
      <button>Send</button>
    </div>
  </div>
</div>